 {{!-- {{ -- about section start ---}}  

    <div class="container-fluid mt-5 about-style" id="aboutid">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
         <h1 class="text-center main-heading"> About Us </h1>      
         <p class="text-center sub-heading"> Grow bussiness with us</p> 

<div class="row">

     <div class="col-md-6 col-12 hero-text ">

<figure>
    <img class="mianImage" src="images/logo.png" alt="herosection_iamge">
</figure>

    </div>

    
    
     

    {{!-- right side --}}
    <div class="col-md-6 col-12 hero-text  d-flex justify-content-center align-items-start flex-column">

<h1> WE WILL HELP YOU TO</h1>
<h1> GROW YOUR BUSINESS</h1>
<P> We Are The Team of  <span class=" bold-style">   Professional Developer </span></P>
<button class=" btn-style btn-primary">  Read more </button>
    </div>

</div>
            </div>
        </div>
    </div>
 {{!-- about section ends --}}