{{! {{ -- about section start -}}

<div class="container-fluid mt-5 about-style" id="serviceid">

  <div class="row">
    
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading"> Our Services </h1>
      <p class="text-center sub-heading"> Grow bussiness with us</p>

      <div class="row">

        <div class="col-md-4">
          <div class="box">
            <div class="our-services settings">
              <div class="icon">
                <img src="https://i.imgur.com/6NKPrhO.png" alt="" srcset="">
                <h4>
                  Settings
                </h4>
              </div>
              <p> Tailoring your web environment to perfection, we offer comprehensive setting configurations, ensuring your website operates optimally and aligns perfectly with your unique requirements.</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="box">
            <div class="our-services speedup">
              <div class="icon">
                <img src="https://i.imgur.com/KMbnpFF.png" alt="" srcset="">
                <h4>
                  Speedup
                </h4>
              </div>
              <p> Tailoring your web environment to perfection, we offer comprehensive setting configurations, ensuring your website operates optimally and aligns perfectly with your unique requirements.</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="box">
            <div class="our-services privacy">
              <div class="icon">
                <img src="https://i.imgur.com/AgyneKA.png" alt="" srcset="">
                <h4>
                  Privacy
                </h4>
              </div>
              <p> Safeguarding your digital presence, our privacy solutions implement robust measures to protect sensitive data, guaranteeing a secure online experience for you and your users.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
            <div class="our-services backups">
              <div class="icon">
                <img src="https://i.imgur.com/vdH9LKi.png" alt="" srcset="">
                <h4>
                  Backups
                </h4>
              </div>
              <p> Embrace peace of mind with our reliable backup services. We ensure your data is consistently backed up, minimizing the risk of data loss and providing a safety net for unforeseen circumstances.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
            <div class="our-services ssl">
              <div class="icon">
                <img src="https://i.imgur.com/6NKPrhO.png" alt="" srcset="">
                <h4>
                  SSl
                </h4>
              </div>
              <p>Fortify your website's security with our SSL implementation, encrypting data transmission. Additionally</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
            <div class="our-services database">
              <div class="icon">
                <img src="https://i.imgur.com/6NKPrhO.png" alt="" srcset="">
                <h4>
                  Database
                </h4>
              </div>
              <p>  our database services optimize and streamline data management, enhancing efficiency and overall performance.</p>
            </div>
          </div>
        </div>


      </div>



    </div>



  </div>
</div>
</div>
</div>