<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>

<body>

    {{>nav}}

    {{!-- {{ -- about section start ---}}

    <div class="container-fluid mt-5 about-style" id="aboutid">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading"> About Us </h1>
                <p class="text-center sub-heading"> Grow bussiness with us</p>

                <div class="row">

                    <div class="col-md-6 col-12 hero-text ">

                        <figure>
                            <img class="mianImage" src="images/developer.png" alt="herosection_iamge">
                        </figure>

                    </div>





                    {{!-- right side --}}
                    <div class="col-md-6 col-12 hero-text  d-flex justify-content-center align-items-start flex-column">

                        <h1> WE WILL HELP YOU TO</h1>
                        <h1> GROW YOUR BUSINESS</h1>

                        <p>
                            Hello! I'm <span class=" bold-style">Vikash Sharma </span>, a passionate web developer with
                            a
                            flair for crafting immersive and visually appealing digital experiences. My journey in the
                            vast
                            realm of web development has led me to specialize in the MERN (MongoDB, Express.js,
                            React.js,
                            Node.js) stack, empowering me to build dynamic and scalable web applications.....
                        </p>

                        </a>
                    </div>



                </div>
                <div class="col-md-6 col-12 hero-text  d-flex justify-content-center align-items-start flex-column">

                    <h1 "text-center sub-heading bold-style"> My Expertise:</h1>
                    <ul>
                        <li>
                            MERN Stack Development: Leveraging the power of MongoDB, Express.js, React.js, and
                            Node.js to create robust and responsive web applications.
                        </li>
                        <li>Webflow: Crafting visually stunning and user-friendly websites using the intuitive
                            design and CMS capabilities of Webflow.</li>

                        <li>Tailwind CSS: Employing the utility-first CSS framework to streamline the styling
                            process and ensure a consistent and polished look across projects.</li>

                        <li>Figma: Transforming ideas into visual prototypes and design mockups, ensuring a
                            collaborative and efficient design process.</li>
                    </ul>

                    </a>
                </div>
                <h1 "text-center sub-heading bold-style"> Why I Love What I Do:</h1>
                <p>

                    I thrive on the challenge of translating ideas into functional and aesthetically pleasing
                    digital solutions. Whether it's bringing a client's vision to life or conceptualizing my own
                    projects, I am dedicated to delivering high-quality, user-centric experiences.

                    Outside of coding, you'll find me exploring the latest web development trends, experimenting
                    with new design concepts, and continually expanding my skill set to stay at the forefront of the
                    ever-evolving tech landscape.

                    Let's collaborate and turn your web development aspirations into reality!

                    Feel free to customize this text based on your specific experiences, achievements, and style.
                    It's essential to showcase both your technical expertise and your passion for creating
                    exceptional web solutions.
                </p>
            </div>
        </div>
    </div>
    {{>footer}}
    {{!-- about section ends --}}
    <script src="../../jq/jquery.js"></script>
    <script src="../../js/bootstrap.js"></script>


</body>

</html>